.LandingCardServices__cards{
    background-color: transparent !important;
     margin:4% 2% 4% 3%;
     transition: top ease 0.5s;
     display: flex;
     /* position: relative; */
     transition: transform 0.8s;
  transform-style: preserve-3d;
  font-family: Playfair Display, serif
}

.LandingCardServices__cards:hover{
    top: -10px;
    box-shadow: 0px 0px 10px 0px black;
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out 0s;
  }

  .flip_card_back{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    background-color:rgb(234, 237, 237);
   padding-left: 4%;
  }

  .LandingCardServices__info{
    float: right;
    color: red;
    object-fit: contain;
  }

  .LandingServices__blob{
    background:linear-gradient(45deg, #8f44ad 0%,#46b39e 100%);
    padding: 60px;
    display: block;
    height: 100%;
    margin-top: 4%;
    border: 15px solid white;
    border-radius: 5px;
    margin-left:1%;
    margin-right: 1%;
  }

  .LandingServicesBlob__left> h2{
    color:white;
    font-family: Playfair Display, serif;
    text-align: center;
    margin-top: 3%;
  }

  .LandingServicesBlob__left>p{
    color:white;
    font-family: Playfair Display, serif;
    text-align: center;
    padding: 10%;
    font-size: 18px;
  }

  .LandingServicesBlob__right> h2{
    color:white;
    font-family: Playfair Display, serif;
    text-align: center;
    margin-top: 3%;
  }

  .LandingServicesBlob__right>p{
    color:white;
    font-family: Playfair Display, serif;
    text-align: center;
    padding: 10%;
    font-size: 18px;
  }

  .LandingServicesBlob__leftLink , 
  .LandingServicesBlob__rightLink {
    color:rgb(94, 3, 82);
    font-family: Playfair Display, serif;
    text-align: center;
    text-decoration: none !important;
    font-size: 18px;
  }
