.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 500px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    /* margin-top: 10px !important; */
}

.product__info{
    height: 100px;
    margin-bottom: 75px;
    width: 80%;
}

.product__price{
    margin-top: 5px;
}

.product > button {
    background:  #cd9042;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    
}

.product__rating{
    display: flex;
}